//attributes:
$blue:hsl(223, 87%, 63%);
//secondary colors:
$paleBlue:hsl(223, 100%, 88%);
$lightRed:hsl(354, 100%, 66%);

//neutral colors:
$grey: hsl(0, 0%, 59%);
$veryDarkBlue:hsl(209, 33%, 12%);

//font:

@font-face {
    font-family: 'LibreFranklin';
    src: url('../font/LibreFranklin.ttf') format('truetype');
}


@mixin flexCentered($d,$j,$a,$f){
    display:$d;
    justify-content:$j;
    align-items:$a;
    flex-direction:$f;
}


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html{
    font-size: 62.5%;
    font-family: 'LibreFranklin';
}

body{
    width:100%;
    height:100vh;
    display:grid;
    place-items: center;
}

.main-container{
    margin-top:55px;
    width:360px;
    height:75vh;
    @include flexCentered(flex,none,center,column);

        .title-container{
            margin-bottom:35px;
            @include flexCentered(flex,center,center,column);

                .image-title--container{
                    margin-bottom:40px;
                    @include flexCentered(flex,center,center,none);

                }

                .subtitle-container{
                    margin-bottom:10px;
                    font-size:2.4rem;
                    font-weight:300;
                    color:$grey;
                    text-align:center;
                        span{
                            color:black;
                            font-weight:600;
                        }
                }

                .subscribe-paragraph{
                    font-size:1.2rem;
                    font-weight:200;
                    color:$grey;
                }
        }



        .input-email--container{
            width:100%;
            @include flexCentered(flex,center,center,column);

                input{
                    width:310px;
                    height:41px;
                    padding:8px 35px;
                    border-radius:50px;
                    outline: none;
                    border: 1px solid $paleBlue;
                    margin-bottom:8px;
                    font-size:1.4rem;
                }

                .wrong-email--container{
                    color:$lightRed;
                    font-size:1.0rem;
                    margin-bottom:18px;
                }

                .primary-button{
                    margin-bottom:15px;
                    width:308px;
                    height:41px;
                    color:white;
                    background-color:$blue;
                    box-shadow:2px 4px 8px rgba(0,0,0,0.5);
                    border-radius: 50px;
                    border:none;
                        &:hover{
                            cursor:pointer;
                            background-color: $paleBlue;
                            box-shadow:2px 2px 2px rgba(0,0,0,0.2);
                        }
                }
        }

}
