@font-face {
  font-family: "LibreFranklin";
  src: url("../font/LibreFranklin.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "LibreFranklin";
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.main-container {
  margin-top: 55px;
  width: 360px;
  height: 75vh;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}
.main-container .title-container {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container .title-container .image-title--container {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
}
.main-container .title-container .subtitle-container {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  text-align: center;
}
.main-container .title-container .subtitle-container span {
  color: black;
  font-weight: 600;
}
.main-container .title-container .subscribe-paragraph {
  font-size: 1.2rem;
  font-weight: 200;
  color: hsl(0, 0%, 59%);
}
.main-container .input-email--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container .input-email--container input {
  width: 310px;
  height: 41px;
  padding: 8px 35px;
  border-radius: 50px;
  outline: none;
  border: 1px solid hsl(223, 100%, 88%);
  margin-bottom: 15px;
  font-size: 1.4rem;
}